body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

error_block {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}

error_block p, error_block > .simple_text {
    text-align: center;
}

error_block > .simple_text {
    margin-top: 7px;
}

error_block .error_code {
    display: table;
    margin: 0 auto 20px auto;
    color: #E6BE94;
    font-size: 140px;
    font-weight: 600;
}

error_block .error_code:after {
    display: block;
    content: "";
    width: 100%;
    height: 7px;
    transform: translateY(-20px);
    background-color: #E6BE94;
} 

@media (max-width:1000px) {
    error_block {
        padding: 0 10px;
       max-width: 1000px;
        min-width: auto;
    }
}

@media (max-width: 700px) {
    error_block .error_code {
        font-size: 80px;
        margin-bottom: 10px;
    }
}