footer {
    margin-top: 100px;
    height: 60px;
}

footer > div {
    padding: 16px 50px 0 50px;
    max-width: 1400px;
    margin: auto;
}

footer p, footer a {
    color: #0A0A0A;
    user-select: none;
}

#footer_name, #footer_follow, #footer_follow > a, #footer_follow > p {
    display: inline-block;
}

#footer_name {
    position: absolute;
}

#footer_follow {
    transform: translateX(-100%);
    position: relative;
    left: 100%;
}

/* Под мобильные устройства */
@media (max-width: 700px) {
    footer > div {
        padding: 16px 15px 0 15px;
    }
}