/* Заголовок */
h2 {
    font-size: 45px;
    line-height: 65px;
    font-weight: 700;
    text-align: center;
}

/* Подзаголовок */
h4 {
    font-size: 26px;
    line-height: 31px;
    margin-top: 17px;
}

p {
    display: block;
    font-size: 20px;
    line-height: 22px;
    margin-top: 17px;
    text-align: justify;
}

/* Мобильные устройства */
@media(max-width: 700px) {
    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    h4 {
        font-size: 22px;
        line-height: 26px;
    }
    
    p {
        font-size: 16px;
        line-height: 20px;
    }
}