navigation {
    display: table;
    margin: 25px auto 0 auto;
}

navigation > .simple_text, navigation > .button {
    display: inline-block;
}

navigation > .simple_text{
    vertical-align: middle;
    padding: 0 20px;
    margin: 0;
}

navigation > #home {
    margin-right: 15px;
}

@media(max-width: 700px) {   
    navigation > .simple_text{
        vertical-align: middle;
        padding: 0 15px;
        margin: 0;
    }

    navigation > #home {
        margin-right: 10px;
    }
}