.template_block {
    aspect-ratio: 16/9; /* Соотношение сторон */
    width: 29%; /* При использовании блока content */
    border: 3px solid #000000;
    border-radius: 5px;
    display: inline-block;
    margin: 50px 1% 0 1%;
    transition: box-shadow 0.2s;
    overflow: hidden;
    position: relative;
}

.template_block > div {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(254, 214, 188, 0.6);
} 

.template_block > div > p {
    font-size: 35px;
    line-height: 39px;
    color: #0A0A0A;
    margin-top: 20%;
}

.template_block > img {
    height: 100%;
    width: 100%;
}

.template_block:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

@media(max-width: 900px) {
    .template_block {
        width: 42%;
        margin: 50px 3% 0 3%;
    }
}

@media(max-width: 600px) {
    .template_block {
        width: 100%;
        margin: 50px 0 0 0;
    }
}